<%- include('./template/headers.ejs', {tituloWeb: 'Página de Inicio'}) %>

    <div class="container">
        <% if (condition) { %>
         
        <% } %>
         
    </div>

    <%- include('./template/footer.ejs) %>